@import "variables";

.recordlist-hover:hover{
  color: $light !important;
}

.bar-hover{
  background-color: $blue !important;
}

.bar-hover:hover{
  background-color: $darkblue !important;
}

.notification-hover:hover{
  background-color: $semidarkblue;
}

.user-hover:hover{
  background-color: $semidarkblue;
}

.sidebar-animation {
  transition: all 0.3s ease-out;
}

.cursor-pointer{
  cursor: pointer;
}

.custom-half-width {
  width: 4.16667% !important;
}

.fill-remaining-space {
  width: 95.83333% !important;
}

.navigation-hover:hover {
  box-shadow: inset 3px 0 0 0 $blue !important;
  filter: brightness(90%) !important;
}